.App {
  font-family: sans-serif;
  text-align: center;
  background-color:grey;
  margin-left:auto;
  margin-right: auto;
  
  
}
.header{
  background-color: orchid;
  padding:5px;
  text-align:center;
  margin-top: 30px;
}
.card{
  
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color:yellow;
    text-align: center;
    margin:10px;
   
    
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 red;
  }
  .container {
    padding: 2px 16px;
  }
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:20px;
  }
  .result{
    font-size:100;
  }